apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: observability
data:
  logstash.conf: |
    input {
      file {
        path => "/var/log/pods/**/0.log"
        start_position => "beginning"
        sincedb_path => "/dev/null"
      }
    }
    filter {
      json {
        source => "message"
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "k8s-logs"
      }
    }

