apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash-deployment
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
      - name: logstash
        image: docker.elastic.co/logstash/logstash:8.11.0
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          privileged: true
        volumeMounts:
        - name: varlog
          mountPath: /var/log/pods
        - name: config
          mountPath: /usr/share/logstash/pipeline
      volumes:
      - name: varlog
        hostPath:
          path: /var/log/pods
      - name: config
        configMap:
          name: logstash-config

